@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<UrunStokOtomasyonu.Models.EntityFramework.TBLUYE>
@{
    ViewBag.Title = "PasifUyeListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mw-500 text-center bg-transparent mb-4">
    <h1 class="sketchy text-center">Silinen Üyeler</h1>
</div>

@using (@Html.BeginForm("PasifUyeListesi", "Uye", FormMethod.Get))
{
    <div class="pull-right float-right">
        <a href="/Uye/UyeEkle" class="btn btn-success pull-right" style="margin-bottom:15px">Yeni Üye Ekle</a>
        <a href="/Uye/UyeListesi" class="btn btn-info pull-right mr-3" style="margin-bottom:15px" title="Aktif üyelere buradan ulaşabilirsiniz.">Üyeler</a>
    </div>
    <div class="Search-Container col-lg-4 col-lg-offset-0" style="display:flex">
        @Html.TextBox("search", "", new { placeholder = "Üye ad veya soyadına göre ara", @class = "form-control", style = "margin-right:5px" })
        <input type="submit" class="btn btn-default btn-group-lg" name="search" value="Ara">
    </div>
}
<div class="overflow-auto col-lg-12">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Üye Adı</th>
                <th scope="col">Üye Soyadı</th>
                <th scope="col">Aktif Et</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr title="Aktif edildiğinde üye panele erişimi sağlayabilecektir.">
                    <td>@x.ID</td>
                    <td>@x.AD</td>
                    <td>@x.SOYAD</td>
                    <td><a href="/Uye/AktifEt/@x.ID" class="btn btn-success text-center">Aktif Et</a></td>
                </tr>
            }
        </tbody>
    </table>
    <span class="text-white">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("PasifUyeListesi", new { page }))
    </span>

</div>