
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_UyePanelLayout.cshtml";
}


<script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
           function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="~/Content/AdminKartlar/style_grid.css" rel="stylesheet" media="all" />

<!-- banner -->
<div class="clearfix"></div>
<div class="flex_container">
    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="fa fa-recycle" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.d11</h4>
                    <h3 class="ca-sub"> En Çok Satılan Ürün</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">@ViewBag.d2</h4>
                    <h3 class="ca-sub one">En Çok satış Yapan Üye</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@ViewBag.duyuru</h4>
                    <h3 class="ca-sub two">Duyuru Sayısı</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-contao" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">@ViewBag.d10</h4>
                    <h3 class="ca-sub three">Devam Eden Siparişlerim </h3>
                </div>
            </a>
        </li>

    </ul>

    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="fa fa-list" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.d5</h4>
                    <h3 class="ca-sub">Tükenen Sipariş Sayım</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-database" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">@ViewBag.d9</h4>
                    <h3 class="ca-sub one">Sipariş Biber (Kg)</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-database" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@ViewBag.d7</h4>
                    <h3 class="ca-sub two">Sipariş Antep Fıstığı (Kg)</h3>
                </div>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-database" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">@ViewBag.d8</h4>
                    <h3 class="ca-sub three">Sipariş Badem (Kg)</h3>
                </div>
            </a>
        </li>

    </ul>
    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="fa fa-suitcase" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.d6</h4>
                    <h3 class="ca-sub">Tamamlanan Sipariş Sayım</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-archive" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">@ViewBag.d1</h4>
                    <h3 class="ca-sub one">Fıstık Stok (kg)</h3>
                </div>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-archive" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@ViewBag.d3</h4>
                    <h3 class="ca-sub two">Badem Stok (kg)</h3>
                </div>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-archive" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">@ViewBag.d4</h4>
                    <h3 class="ca-sub three">Biber Stok (kg)</h3>
                </div>
            </a>
        </li>

    </ul>
</div>